
body {
        background-color: #EAF6F6;
}
hr {
        width: 5%;
        border-style: none;
        border-top: dotted gray;      
        border-width: 5px;
            
            
}

h1, h3 {
    color: #66BFBF;
}

a {
    text-decoration: none;
    color: gray;
}
